<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>PE Tracker</h1>
    <% tasks.forEach(function(r) { %>
     <li id='<%= r.id %>' style ="color: black"><button id='<%= r.id %>'
        onClick='javascript:logTask(<%= r.id %>)'> <%= r.name %> </button></li>
    <% }); %>
    <script>
  let currentTaskId = null;
  let startTime, endTime;
  let first_click = true;
  let duration = null;

  const logTask = async function(id) {
    if (first_click) {
        startTime = performance.now();
      first_click = false;
    } else {
        endTime = performance.now();
        var timeDiff = endTime - startTime; // in ms
        // strip the ms
        timeDiff /= 1000;

        // get seconds
        var seconds = Math.round(timeDiff);
        console.log(seconds + " seconds");
        
        duration = "'00:00:" + seconds + "'";

        if (seconds > 60) {
          // divide seconds by 60 and round to the nearest integer
          var minutes = Math.round(seconds / 60);
          console.log(minutes + "minutes");
          duration = "'00:" + minutes + ":00'";
        } else if (minutes > 60) {
          var hours = Math.round(minutes / 60);
          console.log(houts + "hours");
          duration = hours + "'00:00'";
        }
        const response = await fetch('/log', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            users_id: -1,
            students_id: -1,
            tasks_id: id,
            duration: duration
          })
        });
        const result = await response.json();
        console.log(result);

        currentTaskId = id;
    }
  };


    </script>
</body>
</html>
